/* Add all your styles here */
h1{background-color:red;}
.hobby{background-color:red;}
html{background-color:black;}
head{background-color:black;}
ol{background-color:black; color:blue;}
div{background-color:black;color:white;}
h2{background-color:black;color:red;}