/* Add all your styles here */
marquee{background-color:red; colour:blue;border: solid 3px;}
.hobby{background-color:red;boarder:solid;}
html{background-color:white;}
head{background-color:white; colour:blue;}
ol{background-color: white; color:blue;font-style: italic;font-size:20px;}
div{background-color:white;color:white;}
h2{background-color:white;color:red;border: solid 20px;}
p{border:solid 10px;color: blue; background-color: light black; font-size:20px;}
img{height:500px;width:350px}